<!DOCTYPE html>
<html>
  <head>
    <title>Basic Mask Example</title>
    <style>
      body {
        font-family: sans-serif;
        margin: 20px;
      }
      .mask-demo {
        width: 200px;
        height: 200px;
        background-color: blue;
        -webkit-mask-image: url("./price_bg.png");
        mask-image: url("./price_bg.png");
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
      }
    </style>
  </head>
  <body>
    <h1>Mask Example</h1>
    <div class="mask-demo"></div>
    <p>This shows a blue colored Android logo using CSS masking.</p>
  </body>
</html>
